.grid-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#grid {
    width: 100vmax;
    height: 100vmax;
    position: absolute;
    top: 0; 
    left: 0;
}

.cell {
    background-color: rgba(255, 255, 255, 0.823);
    /* border: 1px solid rgb(236, 235, 235); */
    transition: background-color 2s ease-out;
}

.cell:hover {
    background-color: transparent;
    transition: background-color .05s ease-out; 
}